*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    width: 1440px;
    height: auto;
    background-color: chocolate;
    position: relative;
}

header{
    width: 100%;
    height: 90px;
    padding: 15px 30px;
    background-color: #360c0c;
    position: relative;

    
}
header li{
    float: left;
    padding-top: 20px;
    margin-left: 20px;
    
}
header li a{
    color: #ffffff;
    padding: 15px 5px;
    position: relative;
}
header li a::before{
    content: "";
    width: 0;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 1s;
}
header li a:hover::before{
    width: 100%;
}
h1{
    width: 70px;
    height: 70px;
    background-image: url(../img/music-note.png);
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    text-indent: -99999999px;
    

}
h1 a{
    width: 70px;
    height: 70px;
    display: block;

}

h4{
    clear: both;
    padding: 20px 70px;
    font-size: 24px;
     
}
.container{
    width: 300px;
    height: 270px;
    position: relative;
    margin:20px 60px; 
    float: left;
   
}

.hearticon{
    width: 50px;
    height: 50px;
    background-image: url(../img/like.png);
    background-repeat:no-repeat;
    background-size: 100%;
    position: absolute;
    top:0;
    right: 0; 
    cursor: pointer; 
    
    
}
.hearticon:hover{
    background-image: url(../img/like\ 2.png);      
}
.icon{
    width: 65px;
    height: 65px;
    background-image: url(../img/sound.png);
    background-size: 100%;
    float: left;
    margin-top: 70px;
    margin-left: 8px; 
      
}

.trackname{
    font-size: 24px;
    font-weight: 500;  
    position: absolute;
    top:150px;
    left: 15px; 
}
.artist{
    font-size: 16px;
    margin-top: 15px;
}
.box{
    width: 300px;
    height: 240px;
    border:2px solid #000000;
    background-color: #ffffff;
    
    
}
.goOn{
    margin-top: 10px;
}
.goOn p a{
    color: #000000;
}


footer{
    width: 1440px;
    height: 354px;
    background-color: #000000;
    clear: both;
    padding-top: 20px;
    
}
h2{
    width: 150px;
    height: 150px;
    background-image: url(../img/music-note.png);
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    margin-left: 650px;
    text-indent: -99999999px;
    
}
h2 a{
    width: 150px;
    height: 150px;
    display: block;
}
.foter{
    clear: both;
   
}
ol{
    padding-top: 10px;
    text-align: center;
    
    
}
.allrights{
    color: #ffffff;
    margin-top: 100px;
    text-align: center;
    
}
.social{
    width: 100px;
    height: 200px;
    position: absolute;
    right: 0;
    top:200px
    
}
.facebook{
    width: 100px;
    height: 100px;
    background-image: url(../img/fb.png);
    background-repeat: no-repeat;
    background-size: 100%; 
    cursor: pointer;  
}
.facebook:hover{
    background-image: url(../img/facebook1.png);
    
}
.insta{
    width: 100px;
    height: 100px;
    background-image: url(../img/instagram.png);
    background-repeat: no-repeat;
    background-size: 100%; 
    cursor: pointer;  
}
.insta:hover{
    background-image: url(../img/instagram1.png);
}

.playlist1{
    width: 280px;
    height: 300px;
    float: left;
    text-align: center;
    margin-left: 70px;
    margin-top: 5px; 
    transition: 0.3s; 
}
.playlist1:hover{
    background-color: #5c5858;
    border-radius: 10%;
    box-shadow: 0 0  20px #410909;
    border:1px solid #410909;
   
}
.playlist1 p{
    clear: both;
    text-align: center;   
}
.playlist1 h4{
   padding: 30px;
}
.playlist2{
    width: 280px;
    height: 300px;
    margin-left: 70px;
    float: left;
    text-align: center;
    margin-top: 5px;
    transition: 0.3s;
}
.playlist2:hover{
    background-color: #5c5858;
    border-radius: 10%;
    box-shadow: 0 0 20px  #410909;
    border:1px solid #410909;
}
.playlist2 p{
    clear: both;
    text-align: center;
}
.playlist2 h4{
    padding: 30px;
}

.cont{
    width: 1440px;
    height: 65px;
    clear: both;
    padding-left: 580px;
    margin-top:10px   
}
.musBox{
    width: 65px;
    height: 65px;
    background-image: url(../img/sound.png);
    background-size: 100%;
    float: left; 
     
}
.playlistX{
    width: 280px;
    height: 240px;
    float: left;
    transition: 0.3s;
    
}
.playlistX:hover{
    background-color: #5c5858;
    border-radius: 10%;
    box-shadow: 0 0 20px  #410909;
    border:1px solid #410909;
}
.playlistY{
    width: 280px;
    height: 240px;
    float: left;
    transition: 0.3s; 
      
}
.playlistY:hover{
    background-color: #5c5858;
    border-radius: 10%;
    box-shadow: 0 0 20px  #410909;
    border:1px solid #410909;
}
.playlistZ{
    width: 280px;
    height: 240px;
    float: left;
    transition: 0.3s;
}
.playlistZ:hover{
    background-color: #5c5858;
    border-radius: 10%;
    box-shadow: 0 0 20px  #410909;
    border:1px solid #410909;
}
.playlistZY{
    width: 280px;
    height: 240px;
    float: left;
    transition: 0.3s;  
}
.playlistZY:hover{
    background-color: #5c5858;
    border-radius: 10%;
    box-shadow: 0 0 20px  #410909;
    border:1px solid #410909;
}
.playlistX, .playlistY, .playlistZ, .playlistZY p{
    text-align: center;
    
}
.playlistX, .playlistY, .playlistZ, .playlistZY{
    margin-left:30px;
    padding-top: 20px;
   
}


.thanks p{
    text-align: center;
    padding: 50px;
    font-size: 36px;
}
footer a{
    color: #ffffff;
}












